<div class="row">
    <div class="col">
        <b id="container-title">Add Administrator</b>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>
<div id="btn-row" class="row">
    <div class="col">
        <button class="btn btn-sm btn-dark" id="save-administrator">
            Save<i class="fa-solid fa-check"></i>
        </button>
    </div>
</div>
<form id="administrators-form" class="container">
    <div class="row">
        <div class="col-4">
            <img alt="uploaded image" id="image-upload" />
        </div>
        <div class="col-8">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label for="name" class="input-group-text">Name</label>
                            <input type="text" id="name" name="Name" class="form-control" spellcheck="false" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label for="phone" class="input-group-text">Phone</label>
                            <input type="tel" id="phone" name="Phone" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label for="email" class="input-group-text">Email</label>
                            <input type="email" id="email" name="Email" class="form-control" spellcheck="false" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <select id="role" name="Role" class="form-select" aria-label="Default select example">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label for="image-file" class="input-group-text">Image</label>
                            <input type="file" id="image-file" name="Image" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
