<div class="row">
    <div class="col d-flex align-items-center">
        <b>Course</b>
        <button class="btn btn-sm btn-dark ms-auto" id="edit">Edit</button>
    </div>
</div>
<div class="row view-row">
    <hr class="col">
</div>
<div class="row view-row">
    <div class="col-sm-4">
        <img id="course-img" src="/uploads/NotFound.png" alt="course image" width="250" />
    </div>
    <div class="col-sm-8">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 id="course-name"></h1>
                </div>
                <div class="row">
                    <div class="col">
                        <p id="course-description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container" id="members-list">
    </div>
</div>
