<div class="row">
    <div class="col">
        <b id="container-title">Add Course</b>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr class="col-sm-12 col-xs-12">
    </div>
</div>
<div id="btn-row" class="row">
    <div class="col">
        <button id="save-course" class="btn btn-sm btn-dark">
            Save<i class="fa-solid fa-check"></i>
        </button>
    </div>
    <div id="delete-course" class="col d-flex align-items-center">
        <button type="button" class="btn btn-sm btn-dark ms-auto">
            Delete <i class="fa-regular fa-trash-can"></i>
        </button>
    </div>
</div>
<form id="courses-form" class="container">
    <div class="row">
        <div class="col-4">
            <img alt="uploaded image" id="image-upload" />
        </div>
        <div class="col-8">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label for="name" class="input-group-text">Name</label>
                            <input type="text" id="name" name="Name" class="form-control" spellcheck="false" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label for="description" class="input-group-text">Description</label>
                            <textarea name="Description" id="description" class="form-control" spellcheck="false"
                                rows="5" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <label for="image-file" class="input-group-text">Image</label>
                            <input type="file" id="image-file" name="Image" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col">
        <h2>Total <span id="total"></span> students taking this course</h2>
    </div>
</div>
