<div class='row'>
    <b id="container-title">Add Student</b>
</div>
<div class="row">
    <hr class="col">
</div>
<div id="btn-row" class='row'>
    <div class="col">
        <button class="btn btn-sm btn-dark" id="save-student">
            Save<i class="fa-solid fa-check"></i>
        </button>
    </div>
</div>
<form id="students-form" class="container">
    <div class="row">
        <div class="col-4">
            <img alt="uploaded image" id="image-upload" />
        </div>
        <div class="col-8">
            <div class="container">
                <div class="row">
                    <div class='col'>
                        <div class="input-group mb-3">
                            <label for="name" class="input-group-text">Name</label>
                            <input type="text" id="name" name="Name" class="form-control" spellcheck="false" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                        <label for="phone" class="input-group-text">Phone</label>
                        <input type="tel" id="phone" name="Phone" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                        <label for="email" class="input-group-text">Email</label>
                        <input type="email" id="email" name="Email" class="form-control" spellcheck="false" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                    <label for="image-file" class="input-group-text">Image</label>
                    <input type="file" id="image-file" name="Image" class="form-control">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2"><b>Courses</b></div>
                    <div class="col-sm-10">
                        <div class="container">
                            <div class="row" id="courses-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
