                <div class="row view-row">
                    <div class="col d-flex align-items-center">
                        <b>Student</b>
                        <button class="btn btn-sm btn-dark ms-auto" id="edit">Edit</button>
                    </div>
                </div>
                <div class="row view-row">
                    <hr class="col">
                </div>
                <div class="row view-row">
                    <div class="container col-sm-4">
                        <img id="student-img" src="/uploads/NotFound.png" alt="student image" />
                    </div>
                    <div class="col-sm-8">
                        <div class="container">
                            <h1 id="student-name" class="row"></h1>
                            <h4 id="student-phone" class="row"></h4>
                            <h4 id="student-email" class="row"></h4>
                        </div>
                    </div>
                </div>
                <div class="row view-row">
                    <div class="container" id="member-of">
                    </div>
                </div>
