<div class='row'>
    <b class="container-title">Add Student</b>
</div>
<div class="row">
    <hr class="col">
</div>
<div class='row'>
    <div class="col">
        <button class="btn btn-sm btn-dark" id="save-student">
            Save<i class="fa-solid fa-check"></i>
        </button>
    </div>
</div>
<form id="students-form" class="container">
    <div class="row">
        <div class='col-sm-8 offset-sm-2'>
            <label for='name' class='input-group-addon'>Name</label>
            <input type='text' name='name' id='name' class='form-control' spellcheck='false' />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <label for='phone' class='input-group-addon'>Phone</label>
            <input type='tel' name='phone' id='phone' class='form-control' />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <label for='email' class='input-group-addon'>Email</label>
            <input type='email' name='email' id='email' class='form-control' spellcheck='false' />
        </div>
    </div>
    <div class="row">
        <img alt="uploaded image" id="image-upload" />
    </div>
    <div class="row">
        <label for="file">Image</label>
        <span class='btn btn-sm btn-file'>
            <span>Choice image</span>
            <input type='file' id='file'>
        </span>
    </div>
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2"><b>Courses</b></div>
                    <div class="col-sm-10">
                        <div class="container">
                            <div class="row" id="courses-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
