<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <img alt='Logo' src='img/logo.png' class=' img-rounded logo' height='50' width='67'>
        </div>
        <div class='collapse navbar-collapse'>
            <ul class='nav navbar-nav'>
                <li><a href='/#!school' id='school'>School</a></li>
                <li class='active'><a href='/#!administration' id='administration'>Administration</a></li>
            </ul>
            <div class='container col-md-3 col-sm-4 col-xs-6' style='float:right;'>
                <div class='row'><img alt='manager image' src='' width='50' height='50' style='border-radius: 50%; float:right;' />
                    <div class='container col-lg-6 col-md-8 col-sm-9 col-xs-9 nav-user-info-container'
                        style='float:left'>
                        <div class='row'></div>
                        <div class='row'><a href='/logout' id='logout'>Logout</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>404 - Page Not Found</h1>
            <p>The page you are looking for does not exist.</p>
            <a href="/#!school" class="btn btn-primary">Go to School <i class="fa-solid fa-graduation-cap"></i></a>
        </div>
    </div>
</div>
