node_modules/
vendor/
public/fonts/
public/assets/
public/js/
public/css/
public/images/
public/manifest.json
database/database.sqlite
*.log
.env
.env.example
.git/
.gitignore
.gitattributes
Dockerfile
.dockerignore
.editorconfig
tests/
phpunit.xml
README.md
