body>.container-fluid{
    margin-top:250px; 
}
#form-container>form>.row{
    margin-top: 10px;
    margin-bottom: 10px; 
}
#form-container{
    background-color: white;

    border: 1px solid #e7e7e7;
    height: 26%;
}
#form-container{
    border-radius: 6px;
}
input,button,input:active,button:active{
    outline:none !important;
}
input,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: white !important;
    -webkit-box-shadow: 0 0 0 50px white inset;
    transition: background-color 30s ease-in-out 0s;
}