.navbar-default .navbar-nav>.active>a{
    padding-bottom: 15px;
    border-bottom: 2px solid #7d7d7d;
    background-color: transparent !important;
}
.navbar-default .navbar-nav>.active>span,
.navbar-default .navbar-nav>li>span{
    color: #7d7d7d !important;
    font-weight: bold;
}
nav{
    border-bottom:1px solid #bbbbbb;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:hover,
#logout{
    color: #999999;
}
.nav-user-info-container{
    padding-top:5px;
    padding-bottom:5px;
}
.nav-user-info-container>.row:first-child{
    text-align: center;
}
.nav-user-info-container>.row:last-child{
    text-align: right;
}
.nav-user-info-container>.row,
.nav-user-info-container>.row>a{
    color:#7d7d7d;
}
#logout{
    font-weight: bolder;
}
.active{
    font-weight: bolder;
}
nav .container-fluid,
nav .navbar-default{
    max-height: 52px !important;
}