<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#!school">
            <img alt="Logo" src="img/logo.png" class="d-inline-block align-text-top" width="60" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="navbar" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/#!school" class="nav-link active">School</a>
                </li>
            </ul>
            <div class="d-flex align-items-center ms-auto">
                <div class="ms-2">
                    <div class="container">
                        <div class="row">
                            <div id="user-info" class="col">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <b id="logout">Logout</b>
                            </div>
                        </div>
                    </div>
                </div>
                <img alt="administrator image" id="user-image" class="rounded-circle ms-auto" />
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>404 - Page Not Found</h1>
            <p>The page you are looking for does not exist.</p>
            <a href="/#!school" class="btn btn-dark">Go to School <i class="fa-solid fa-graduation-cap"></i></a>
        </div>
    </div>
</div>
