<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#!school">
            <img alt="Logo" src="img/logo.png" class="d-inline-block align-text-top" width="60" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="navbar" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/#!school" class="nav-link">School</a>
                </li>
                <li class="nav-item">
                    <a href="#!administration" class="nav-link active">Administration</a>
                </li>
            </ul>
            <div class="d-flex align-items-center ms-auto">
                <div class="ms-2">
                    <div class="container">
                        <div class="row">
                            <div id="user-info" class="col">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <b id="logout">Logout</b>
                            </div>
                        </div>
                    </div>
                </div>
                <img alt="administrator image" id="user-image" class="rounded-circle ms-auto" />
            </div>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="container management">
                            <div class="row">
                                <div class="col-sm-8">Administrators</div>
                                <div class="col-sm-4">
                                    <button class="btn btn-sm btn-light" id="add-administrator" aria-label="Add administrator">
                                        <i class="fa-solid fa-plus" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <hr class="col-sm-10 offset-sm-1">
                            </div>
                            <div class="row">
                                <div class="container" id="administrators-container">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="container" id="main-container">
            </div>
        </div>
    </div>
</div>
