@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@import './login.css';
@import './school.css';

body>.container-fluid {
    margin-top: 10px;
}


.item-row {
    height: 46px;
}

.item-row .row {
    margin-top: 0px;
}

.item-row image {
    width: 24px;
    display: block;
    margin: 1px auto;
}
