.management .btn {
    display: block;
    margin: auto;
    width: 36px;
    height: 36px;
}

.management>.row:first-child {
    text-align: center;
}

.management .row,
.view-row {
    margin-top: 6px;
}

.view-row:nth-child(2) {
    margin-top: 28px;
}

.management .item-row {
    cursor: pointer;
    height: 60px;
}

.management .item-row:hover {
    background-color: #f8f9fa;
    box-shadow: 5px 5px 8px #888;
    border-radius: 8px 300px 300px 8px;
}

.management .item-row .row {
    margin-top: 2px;
}

#image-upload {
    width: 180px;
}

#btn-row i {
    margin-left: 10px;
}

#user-image {
    width: 50px;
}

#edit {
    width: 100px;
}

#students-form {
    margin-top: 10px;
}

.list-img {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(186, 186, 186, 0.75);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.list-img img {
    width: 54px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}
